<div class="relative">
  <button
    #dropdownActivator
    (click)="toggleDropdown()"
    [ngClass]="
      isShowActivatorButtonOnOuterHover() && outerHoveringState()
        ? 'outerIsHovering'
        : 'outerIsNotHovering'
    "
    class="activator-btn"
    type="button"
  >
    <ng-content select="activator-btn-content"></ng-content>
  </button>

  <div
    #dropdownContent
    [ngClass]="isOpen() ? 'dropdown-open' : 'dropdown-close'"
    class="dropdown"
  >
    <ng-content></ng-content>
  </div>
</div>
