.dropdown {
  transition: opacity, transform, 150ms ease;
}

.activator-btn {
  --activator-btn-opacity: 1;
  --activator-btn-pointer-event: auto;

  opacity: var(--activator-btn-opacity);
  pointer-events: var(--activator-btn-pointer-event);
  transition: opacity 150ms ease;
}

.activator-btn.outerIsHovering {
  --activator-btn-opacity: 1;
  --activator-btn-pointer-event: auto;
}

.activator-btn.outerIsNotHovering {
  --activator-btn-opacity: 0;
  --activator-btn-pointer-event: none;
}

.dropdown-open {
  pointer-events: auto;
  user-select: auto;
  transform: translateY(0);
  opacity: 1;
}

.dropdown-close {
  pointer-events: none;
  user-select: none;
  transform: translateY(-1rem);
  opacity: 0;
}
