<a [routerLink]="['/', chat()._id]" class="chat-item">
  <div>
    <app-profile-picture [picture]="chat() | chatPicture"></app-profile-picture>
  </div>
  <div class="chat-item-info">
    <div class="info-row">
      <span class="user-name">{{ chat() | chatName }}</span>
      <span class="last-update-date">{{
        chat().updatedAt | recencyDate: 'medium'
      }}</span>
    </div>
    <div class="subtitle">
      <p class="message">
        {{ chat().lastMessage }}
      </p>
      @if (true) {
        <div class="badge">
          <span class="message-counter">1</span>
        </div>
      }
    </div>
  </div>
</a>
