<a [routerLink]="['/', chat()._id]" class="chat-item">
  <div>
    <app-profile-picture
      [isPriority]="true"
      [picture]="chat() | chatPicture"
    ></app-profile-picture>
  </div>
  <div class="chat-item-info">
    <div class="info-row">
      <span class="user-name">{{ chat() | chatName }}</span>
      <span class="last-update-date">{{
        chat().lastMessage?.createdAt | recencyDate: 'medium'
      }}</span>
    </div>
    <div class="subtitle">
      <p class="message">
        {{ chat().lastMessage?.content }}
      </p>

      <!--  TODO: Unread messages count  -->
      <!--      @if (false) {-->
      <!--        <div class="badge">-->
      <!--          <span class="message-counter">1</span>-->
      <!--        </div>-->
      <!--      }-->
    </div>
  </div>
</a>
