.chat-footer-container {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  background-color: var(--mantle);
  border-top: 1px solid var(--surface-2);
}
