<a [routerLink]="['/']" class="chat-item">
  <div>
    <app-profile-picture></app-profile-picture>
  </div>
  <div class="chat-item-info">
    <div class="info-row">
      <span class="user-name">Test user</span>
      <span class="last-update-date">Aug 17, 2022</span>
    </div>
    <div class="subtitle">
      <p class="message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sunt.
      </p>
      @if (true) {
        <div class="badge">
          <span class="message-counter">1</span>
        </div>
      }
    </div>
  </div>
</a>
