<div class="message-item">
  @if (!isOwn()) {
    <div class="message-sender-picture">
      <app-profile-picture
        [size]="2.5"
        [picture]="message().senderPicture"
      ></app-profile-picture>
    </div>
  }
  <div class="message-content">
    <div class="message-text">
      <span>{{ message().content }}</span>
      @if (isOwn()) {
        <app-message-actions
          [message]="message()"
          [isShowActivatorButtonOnOuterHover]="true"
          [outerHoveringState]="outerHoveringState()"
          class="message-actions"
        >
        </app-message-actions>
      }
    </div>
    <small class="message-timestamp">{{
      message().createdAt | date: 'short'
    }}</small>
  </div>
</div>
