<div class="sidebar-header">
  @if (isAuthenticated$ | async) {
    <section class="user-section">
      <div class="user-info">
        <app-profile-picture
          [picture]="(user$ | async)?.picture"
        ></app-profile-picture>

        <div class="user-name">
          <span>{{ (user$ | async)?.name }}</span>
        </div>
      </div>
      <app-logout-button></app-logout-button>
    </section>
    <app-chat-search></app-chat-search>
  } @else {
    <section class="unauthorized-section">
      <app-login-button></app-login-button>
      <span class="unauthorized-section-text"
        >Please, Log In to use the application</span
      >
    </section>
  }
</div>
